body {
    margin: 0px;
    font-family: sans-serif;
    overflow: hidden;
}

.parent {
    width: 100%;
    max-width: 1400px;
    min-width: 1200px;
    height: 670px;
    margin: 20px;
    border-radius: 20px;
    position: absolute;
    background-color: var(--color1);
}

:root {
    --color1: #9370DB;
    --color2: #FF00FF;
}

.pink {
    color: palevioletred;
}

.blue {
    color: aqua;
}

.yellow {
    color: yellow;
}

.child1 {
    width: 300px;
    height: 650px;
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    background-color: aliceblue;
    z-index: 1;
    border-radius: 10px 0px 0px 10px;
}

img {
    width: 75px;
    height: 75px;
    margin: 30px;
    border-radius: 100px;
}

.plus,
[class$=left],
[class$=gear],
.space,
[class$=circle] {
    color: rgba(0, 0, 0, 0.2);
}

.profile p {
    position: absolute;
    margin-top: -100px;
    margin-left: 120px;
    font-size: 20px;
}

.profile p span {
    color: var(--color1);
    font-size: 25px;
    font-weight: bold;
}

hr {
    width: 230px;
    margin-left: 30px;
    border: 2px solid #9370DB;
    margin-top: 0px;
    margin-bottom: 40px;
}

ul,
li {
    list-style-type: none;
    margin-bottom: 20px;
}

.child2 {
    width: 800px;
    height: 650px;
    position: absolute;
    top: 0;
    left: 400px;
}

h2 {
    margin: 50px 0 0 10px;
    font-size: xxx-large;
    color: white;
}

h1 {
    width: 500px;
    margin: 0;
    font-size: xxx-large;
    color: white;
}

.fa-solid:hover {
    color: rgb(42, 132, 59);
}


.first-text {
    font-size: 20px;
}

.box1 {
    width: 650px;
    max-width: 700px;
    min-width: 400px;
    height: 3em;
    margin-left: 50px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 40px;
}

.box1 p {
    padding: 10px 10px 10px;
}

.pk {
    margin-left: 20px;
}

.bl {
    margin-left: 0px;
    margin-right: 0px;
}

input[type="text"] {
    border: 0px solid;
    background-color: transparent;
    text-decoration: none;
    margin-left: 20px;
    width: 240px;
    height: 2em;
}

.fa-clock {
    margin-left: 220px;
    font-size: 20px;
}

.ic {

    color: var(--color2);
}

.fa-calendar-week {
    margin-left: 20px;
    font-size: 20px;
}

.shedule {
    width: 620px;
    height: 3em;
    margin-left: 60px;
    background-color: white;
    border-radius: 15px;
}

.shedule p {
    padding-top: 15px;
}

.space-Between {
    margin-left: 5px;
    margin-right: 5px;
}

.pk,
.bl,
.yl {
    margin-left: 10px;
    margin-right: 20px;
}

/*for time  */
.sp0 {
    margin-left: 400px;
}

.sp1 {
    margin-left: 310px;
}

.sp2 {
    margin-left: 322px;
}

.sp3 {
    margin-left: 277px;
}