body {
    width: auto;
    font-family: 'qui';
}

@font-face {
    font-family:"qui" ;
    src: url("./Quicksand-VariableFont_wght.ttf") format('truetype');
    font-weight: bolder;
}

h2 {
    margin-bottom: 0px;
    text-align: center;
    /* font-family: Lucida; */
}

table {
    font-family: serif;
    margin: 0px auto;
    width: 100vh;
    height: 200px;
    border-collapse: collapse;
    background-color: #729494;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

tr,
td,
th {
    border: 2px solid black;
}