@media screen and (min-width:769px) {
    .main {
        width: 1440px;
    }

    .parent1 {
        width: 1440px;
        height: 140px;
        display: flex;
    }

    .p1c1 {
        width: 384px;
        height: 100px;
        margin: 20px 10px;
        background-color: #cc2626;
    }

    .p1c2 {
        width: 1056px;
        height: 100px;
        margin: 20px 10px;
        background-color: #1f4e94;
    }

    .parent2 {
        width: 1440px;
        height: 200px;
    }

    .p2c1 {
        width: 1420px;
        height: 200px;
        margin: 0 10px;
        background-color: #b3942a;
    }

    .parent3 {
        width: 1440px;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .p3c1 {
        width: 460px;
        height: 100px;
        margin: 20px 10px;
        background-color: #20bd30;
    }

    .p3c2 {
        width: 460px;
        height: 100px;
        margin: 20px 10px;
        background-color: #9f1582;
    }

    .p3c3 {
        width: 460px;
        height: 100px;
        margin: 20px 10px;
        background-color: #6d4fc1;
    }

    .parent4 {
        width: 1440px;
        height: 120px;
        display: flex;
        flex-wrap: wrap;
    }

    .p4c1 {
        width: 700px;
        height: 100px;
        margin: 20px 10px;
        background-color: #d15b29;
    }

    .p4c2 {
        width: 700px;
        height: 100px;
        margin: 20px 10px;
        background-color: #c6ca1e;
    }

    .parent5 {
        width: 1440px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .p5c1 {
        width: 340px;
        height: 50px;
        margin: 20px 10px;
        background-color: #0b8f29;
    }

    .p5c2 {
        width: 340px;
        height: 50px;
        margin: 20px 10px;
        background-color: #319aa0;
    }

    .p5c3 {
        width: 340px;
        height: 50px;
        margin: 20px 10px;
        background-color: #831516;
    }

    .p5c4 {
        width: 340px;
        height: 50px;
        margin: 20px 10px;
        background-color: #2c16b6;
    }

    .parent6 {
        width: 1440px;
        height: 45px;
    }

    .p6c1 {
        width: 1420px;
        height: 25px;
        margin: 10px;
        background-color: #320b0c;
    }
}