@media screen and (min-width:1181px) and (max-width:2300px){
   
    .parent1{
        width: 100%;
        display: flex;
        flex-direction: row;
        
        }
        
        .p1c1{
            width: 21%;
            
        }
        
        .p1c2{
            width: 68%;
            margin-left: 0;

            
        }
        
        .parent2{
            width: 100%;            
            display: flex;
            flex-direction: row;
            
            }

            .p2c1{
                width: 93%;
            }

            .parent3{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                }
                
                .p3c1{
                    width: 28%;
                }
                
                .p3c2{
                    width: 28%;
                }
            .p3c3{
                width: 27%;
                
            }

            .parent4{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                }
                
                .p4c1{
                    width: 43%;
                }
                
                .p4c2{
                    width: 45%;
                }
                
                .parent5{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    }
                    
                    .p5c1{
                        width: 20%;
                    }
                    
                    .p5c2{
                        width: 19%;
                    }
                    .p5c3{
                        width: 19%;
                    }
                    .p5c4{
                        width: 20%;
                    }

                    .parent6{
                        width: 100%;
                    }
            
                    .p6c1{
                        width: 93%;
                    }
}