@media screen and (min-width:426px) {
    .main {
        width: 768px;
    }

    .parent1 {
        width: 768px;
        height: 90px;
        display: flex;
    }

    .p1c1 {
        width: 184px;
        height: 50px;
        margin: 20px 10px;
        background-color: #cc2626;
    }

    .p1c2 {
        width: 584px;
        height: 50px;
        margin: 20px 10px;
        background-color: #1f4e94;
    }

    .parent2 {
        width: 768px;
        height: 150px;
    }

    .p2c1 {
        width: 748px;
        height: 150px;
        margin: 0 10px;
        background-color: #b3942a;
    }

    .parent3 {
        width: 768px;
        height: 210px;
    }

    .p3c1 {
        width: 748px;
        height: 50px;
        margin: 20px 10px;
        background-color: #20bd30;
    }

    .p3c2 {
        width: 748px;
        height: 50px;
        margin: 20px 10px;
        background-color: #9f1582;
    }

    .p3c3 {
        width: 748px;
        height: 50px;
        margin: 20px 10px;
        background-color: #6d4fc1;
    }

    .parent4 {
        width: 768px;
        height: 140px;
    }

    .p4c1 {
        width: 748px;
        height: 50px;
        margin: 20px 10px;
        background-color: #d15b29;
    }

    .p4c2 {
        width: 748px;
        height: 50px;
        margin: 20px 10px;
        background-color: #c6ca1e;
    }

    .parent5 {
        width: 768px;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .p5c1 {
        width: 364px;
        height: 25px;
        margin: 10px;
        background-color: #0b8f29;
    }

    .p5c2 {
        width: 364px;
        height: 25px;
        margin: 10px;
        background-color: #319aa0;
    }

    .p5c3 {
        width: 364px;
        height: 25px;
        margin: 10px;
        background-color: #831516;
    }

    .p5c4 {
        width: 364px;
        height: 25px;
        margin: 10px;
        background-color: #2c16b6;
    }

    .parent6 {
        width: 768px;
        height: 40px;
    }

    .p6c1 {
        width: 748px;
        height: 10px;
        margin: 10px;
        background-color: #320b0c;
    }
}