body{
    margin: 0px;
    padding: 0px;
}

.main{
    width: calc(100% - 600px);
    margin-left: 300px;
    margin-top: 30px;
    background-color: #330019;
    padding-top:20px;
    position: absolute;
}

p, hr{
    position:relative;
}
p {

    margin-top: 0px;
    padding: 2px;
    text-align: center;
    font-size: 24px;
    font-weight:bolder;
    color: #D3D3D3;
    letter-spacing: 15px;
}

hr{
    width: 300px;
    height: 0px;
    border: 10px solid sandybrown;
}