@media screen and (min-width:820px) and (max-width:1180px) {

    .parent1{
        width: 100%;
        display: flex;
        flex-direction: row;
        
        }
        
        .p1c1{
            width: 200px;
            
        }
        
        .p1c2{
            width: 500px;
            
        }
        
        .parent2{
            width: 100%;
            
        display: flex;
        flex-direction: row;
            
            }
            
            .p2c1{
                width: 780px;
            }
            
            .parent3{
                width: 100%;
                }
                
                .p3c1{
                    width: 780px;
                }
                
                .p3c2{
                    width: 780px;
                }
                .p3c3{
                width: 780px;
                
                }
            
            .parent4{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                }
                
                .p4c1{
                    width: 780px;
                }
                
                .p4c2{
                    width: 780px;
                }

                .parent5{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    }
                    
                    .p5c1{
                        width: 350px;
                    }
                    
                    .p5c2{
                        width: 350px;
                    }
                    .p5c3{
                        width: 350px;
                    }
                    .p5c4{
                        width: 350px;
                    }

                    .parent6{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }
            
                    .p6c1{
                        width: 780px;
                    }
}
