body{
    margin: 0;
    padding: 0;
    position: relative;
    
}

@font-face {
    font-family:"sofaripro" ;
    src: url('Quicksand-VariableFont_wght.ttf');
}

*{
    font-family: sofaripro;
    
}

:root{
    --color1:rgba(255, 0, 138, 1) ;
    --colorb: rgba(0, 0, 0, 0.5);
}

.main{
    width: 1530px;
    height: 710px;
    position: absolute;
    left: calc(50% - 765px);
}
.top-right{
    width: 400px;
    height: 200px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: var(--color1);
    z-index: -1;
}

.bottom-left{
    width: 600px;
    height: 200px;
    bottom: 0;
    position: absolute;
    background-color: rgb(113, 113, 196);
    z-index: -1;
}

/* form */
#form{
    width: 1200px;
    height: 600px;
    background-color: rgb(249, 249, 249);
    margin: 40px 140px;
    z-index: 1;

}

.img{
    width: 600px;
    height: 600px;
    position: absolute;
}
.login-side{
    width: 400px;
    height: 600px;
    margin-top: 60px;
    margin-left: 750px;
    position: absolute;    

}
h1{
    width: 60px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline var(--color1) 5px;
    font-size: 24px;
    font-weight: bold;
}


input[type="text"],input[type="password"]{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-left: -10px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px ;
        
}

fieldset{
    border: 0px;
}

legend{
    
    font-size: 15px;
    font-weight: bold;
    color: var(--colorb)
}

label{
    font-size: small;
    font-weight: bold;
    color: var(--colorb);
}

#check{
    margin-bottom: 5px;
}

#submit{
    width: 300px;
    height: 2em;
    border-radius: 20px;
    margin-top: 10px;
    border: 0;
    font-size: large;
    background-color: var(--color1);
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}
.sign{
    font-size: small;
    font-weight: bold;
    color: var(--colorb);
}
p{
    font-size: large;
}

.sign{
    margin-bottom: 4em;
}

a{
    color: var(--color1);
}

.logo{
    margin-left: 63px;
    font-size: small;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}

.fa-facebook{
    color: var(--color1);
    
}

.fa-brands{
    font-size: 45px;
    margin-left: 15px;
    opacity: 0.6;
}