body{
    margin: 0;
    padding: 0;
    position: relative;
}
.main{
    max-width: 1000px;
    min-width: 432px;
    width: calc(400px + 400px);
    height: 650px;
    margin:40px 50px;
    position: absolute;
    
    
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-VariableFont_wdth,wght.ttf");
}

/* text */

p{
    margin:40% 50%;
    

}
span{
    display: flex;
    margin-left:-15px ;

}
.b, .o{
    margin-left: -50px;
}
.r{
    margin-left: -10px;
}

/* big box */
.txt{
    width:calc(calc(100% / 2) - 100px);
    color: white;
    position: relative;
    font-family: "OpenSans";
    position: absolute;
    border-radius: 10px;
    font-weight: bold;
    padding: 0%;
    z-index: 1;
    font-size: 20px;
}

.red{
    height: 250px;
    background-color: red;
    margin-top: 95px;
    margin-left: 50px;
      
    
}

.green{
    height: 250px;
    background-color: green;
    margin-left: 355px;
    margin-top: 95px;
    position: absolute;
}

.orange{
    height: 250px;
    background-color: orange;
    color: white;
    margin-top: 350px;
    margin-left: 50px;
    flex-direction: column;
    position: absolute;
}

.blue{
    height: 250px;
    background-color: blue;
    margin-top: 350px;
    margin-left: 355px;
    position: absolute;
}
/* small box */
.g{
    width: 150px;
    background-color: #808080;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

.top-left{    
    margin-left: 125px;
    margin-top: 60px;
}

.top-right{
    margin-left: 420px;
    margin-top: -45px;
}

.left-top{
    -webkit-transform: rotate(-90deg);
    margin-top: 100px;
    margin-left: -55px;
    
    
}

.left-bottom{
    width: 180px;
    margin-top: 210px;
    margin-left: -70px;
    -webkit-transform: rotate(-90deg);
}