@font-face {
    font-family: "Aboreto";
    src: url("./font/Aboreto-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
        font-family: "Explora";
        src: url("/font/Explora-Regular.ttf") format('truetype');
        
}

@font-face {
    font-family: "inconsolata";
    src: url("/font/Inconsolata-VariableFont_wdth\,wght.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "pacifico";
    src: url("./font/Pacifico-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
        font-family: "Notosans";
        src: url("/font/NotoSansHanunoo-Regular.ttf") format('truetype');
        
}

@font-face {
    font-family: "Notosanstamil";
    src: url("/font/NotoSansTamil-VariableFont_wdth,wght.ttf");
    font-weight: 100;
}

h1{
    font-family: "Aboreto",sans-serif ;
    color: red;
    background-color: antiquewhite;

}
h2{
    font-family: "Explora", sans-serif;
    color: firebrick;
    font-size: 24pt;
    background-color:beige;
}

h3{
    font-family: "inconsolata";
    color: greenyellow;
    font-size: 25pt;
    background-color: blanchedalmond;
}
.flex{

    display: flex;
    flex-direction: row;
}
h4{
    font-family: "pacifico";
    font-size: xx-large;
    background-color: bisque;
   
}

h5{
    font-family: "Notosans";
    font-size: 30pt;
}

h6{
    font-family: "Notosanstamil";
    font-size: xx-large;
}
